/* header and nav layout */
header .nav-wrapper {
    background-color: rgb(255 255 255 / 70%);
    backdrop-filter: blur(5px);
    width: calc(100% - 80px);
    max-width: 1360px;
    z-index: 99;
    position: fixed;
    margin: 20px auto;
    left: 0;
    right: 0;
    min-height: 80px;
    border-radius: 40px;
    animation: fadeIn;
    animation-duration: 1s;
}

@media (1024px <=width <=1200px) {
    header .nav-wrapper {
        width: calc(100% - 160px);
    }

}

header nav {
    display: block;
    margin: auto;
    padding: 18px 30px;
    min-height: 70px;
    justify-content: space-between;
}

header nav[aria-expanded='true'] {
    overflow-y: auto;
}

@media (width < 1200px) {
    header nav[aria-expanded='true']::after {
        width: calc(100% - 60px);
        height: 1px;
        content: ' ';
        display: block;
        position: fixed;
        background: rgb(0 0 0 / 50%);
        margin-top: 18px;
    }
}

@media (width >=1200px) {
    header nav {
        display: flex;
        align-items: center;
        padding: 0 20px 0 40px;

    }

    header nav[aria-expanded='true'] {
        overflow: visible;
        min-height: 80px;
    }

}

header nav p {
    margin: 0;
    line-height: 1;
}

header nav a:any-link {
    color: var(--dark-color);
    font-weight: var(--weight-secondary);
    font-size: 18px;
    line-height: 150%;

}

/* hamburger */
header nav .nav-hamburger {
    height: 43px;
    order: 2;
    width: 30px;
    float: right;
    display: flex;
    align-items: center;
}

header nav .nav-hamburger button {
    height: 30px;
    margin: 0;
    border: 0;
    border-radius: 0;
    padding: 0;
    color: inherit;
    overflow: initial;
    text-overflow: initial;
    white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
    transition: all 0.3s ease-out;
    box-sizing: border-box;
    display: block;
    position: relative;
    width: 30px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
    content: '';
    position: absolute;
    background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon,
header nav[aria-expanded='false'] .nav-hamburger-icon::before,
header nav[aria-expanded='false'] .nav-hamburger-icon::after {
    height: 2px;
    border-radius: 2px;
    background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::before {
    top: -8px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after {
    top: 8px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon {
    height: 30px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::before,
header nav[aria-expanded='true'] .nav-hamburger-icon::after {
    top: 3px;
    left: 1px;
    transform: rotate(45deg);
    transform-origin: 0 1px;
    width: 30px;
    height: 2px;
    border-radius: 2px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after {
    top: unset;
    bottom: 3px;
    transform: rotate(-45deg);
}

@media (width >=1200px) {
    header nav .nav-hamburger {
        display: none;
        visibility: hidden;
    }
}

header nav .nav-brand img {
    height: auto;
}

/* sections */
header nav .nav-sections {
    grid-area: sections;
    flex: 1 1 auto;
    display: none;
    visibility: hidden;
    transition: all 1s ease-out;
}

header nav[aria-expanded='true'] .nav-sections {
    display: block;
    visibility: visible;
    align-self: start;
    text-align: center;
    margin-top: 30px;
    transition: all 1s ease-out;
}

header nav .nav-sections ul {
    list-style: none;
    padding-left: 0;
}

header nav .nav-sections ul>li {
    font-weight: var(--weight-secondary);
    margin-bottom: 0;
}

header nav .nav-sections ul>li>a::after {
    content: ' ';
    background-color: var(--color-main);
    width: calc(100% + 4px);
    height: 0;
    display: block;
    position: absolute;
    bottom: 0;
    z-index: -1;
    margin-left: -2px;
}

header nav .nav-sections ul>li:hover>a::after {
    height: 2px;
    transition: all 0.1s ease-out;
}

header nav .nav-sections ul>li>ul {
    margin-top: 0;
}

header nav .nav-sections ul>li>ul>li {
    font-weight: var(--weight-secondary);
}



@media (width >=1200px) {
    header nav .nav-sections {
        display: block;
        visibility: visible;
        white-space: nowrap;

    }

    header nav .nav-sections .default-content-wrapper {
        display: flex;
        justify-content: flex-end;
        gap: 60px;
    }

    header nav[aria-expanded='true'] .nav-sections {
        align-self: unset;
        margin-top: 0;
    }

    header nav .nav-sections .nav-drop {
        position: relative;
        padding-right: 16px;
        cursor: pointer;
    }

    header nav .nav-sections .nav-drop::after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0.5em;
        right: 2px;
        transform: rotate(135deg);
        width: 6px;
        height: 6px;
        border: 2px solid currentcolor;
        border-radius: 0 1px 0 0;
        border-width: 2px 2px 0 0;
    }

    header nav .nav-sections .nav-drop[aria-expanded='true']::after {
        top: unset;
        bottom: 0.5em;
        transform: rotate(315deg);
    }

    header nav .nav-sections ul {
        display: flex;
        justify-content: flex-end;
        gap: 60px;
    }

    header nav .nav-sections .default-content-wrapper>ul>li {
        flex: 0 1 auto;
        position: relative;
        display: flex;
        align-items: center;
    }

    header nav .nav-sections .default-content-wrapper>ul>li>ul {
        display: none;
        position: relative;
    }

    header nav .nav-sections .default-content-wrapper>ul>li[aria-expanded='true']>ul {
        display: block;
        position: absolute;
        left: -24px;
        width: 200px;
        top: 150%;
        padding: 16px;
        background-color: var(--light-color);
        white-space: initial;
    }

    header nav .nav-sections .default-content-wrapper>ul>li>ul::before {
        content: '';
        position: absolute;
        top: -8px;
        left: 16px;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid var(--light-color);
    }

    header nav .nav-sections .default-content-wrapper>ul>li>ul>li {
        padding: 8px 0;
    }
}

/* tools */
header nav .nav-tools {
    grid-area: tools;
}

/* Custom Brands */
header nav div.section.pattern-orange .default-content-wrapper p .button{
  background: linear-gradient(180deg, var(--color-highlight) 0%, var(--color-emphasize) 100%);
}

header nav .nav-sections.pattern-orange ul>li>a::after{
  background-color: var(--color-highlight);
}