.boxes-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;

    .box-item {
        border: 2px solid var(--color-highlight);
        border-radius: 20px;
        padding: 30px;
        display: flex;
        flex: 1;


        >div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 20px;
        }

        .button,
        a.button:any-link {
            padding: 0;
        }

        p {
            &:not(.button-container) {
                color: var(--color-neutral-100);
                font-weight: var(--weight-primary);
                font-size: 24px;
                line-height: 115%;
            }

            .button,
            a.button:any-link {
                color: var(--color-neutral-400);
                font-weight: var(--weight-default);
                font-size: 16px;
                line-height: 19px;
            }
        }
    }
}

.banner-wrapper {
    position: relative;

    .banner-item-image,
    .banner-item-image img {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }

    .banner-item-image {
        img {
            object-fit: cover;
            object-position: left;
        }
    }

    .banner-item,
    .boxes-wrapper {
        position: relative;
        z-index: 10;
    }

    .banner-item {
        color: var(--color-neutral-100);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;

        .tagline {
            border: 2px solid #FFFFFF80;
            border-radius: 50px;
            padding: 10px 30px;

            >h6 {
                font-weight: var(--weight-primary);
                font-size: 14px;
                line-height: 140%;
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            margin-top: 100px;
            max-width: 770px;

            &.content-button {
                margin-top: 0;
            }

            >p {
                font-weight: var(--weight-primary);
                font-size: 22px;
                line-height: 100%;
            }
        }
    }
}

.variety-1,
.variety-2 {
    .banner-wrapper {
        .banner-item {
            &:last-child {
                .content {
                    margin-top: 0;
                }
            }

            .content.content-button {
                margin-top: 0;
            }
        }
    }
}

.variety-1 {
    .banner-wrapper {
        .banner-item {
            &:last-child {
                .content {
                    margin-top: 20px;
                }
            }

            .content {
                .button-container {
                    .button {
                        background: linear-gradient(180deg, var(--color-highlight) 0%, var(--color-emphasize) 100%);
                        border-radius: 26px;
                        padding: 14px 50px;
                        text-transform: uppercase;
                        margin-top: 40px;
                    }
                }
            }
        }
    }

}

.variety-2 {
    .banner-wrapper {
        .banner-item {
            .content {
                >p {
                    font-size: 26px;
                }
            }
        }
    }
}

.banner {
    padding: 55px 20px;
}

@media (width >=768px) {
    .boxes-wrapper {
        flex-direction: row;
    }

    .banner-wrapper {
        .banner-item {
            .content {
                &.content-button {
                    margin-top: 0;
                }
            }
        }
    }

    .variety-1,
    .variety-2 {
        .banner-wrapper {
            .banner-item .content,
            .boxes-wrapper {
                max-width: 700px;
            }

            h2 {
                font-weight: var(--weight-primary);
                font-size: 64px;
                line-height: 70px;
            }

            h4 {
                font-weight: var(--weight-default);
                font-size: 20px;
                line-height: 30px;
            }
        }
    }

    .variety-1 {
        .banner-wrapper {
            .banner-item {
                .content {
                    margin-top: 140px;
                }
            }
        }
    }

    .banner {
        padding: 55px;
    }
}