footer {
    .footer {
        background-color: var(--color-neutral-200);
        max-width: 1400px;
        margin: 20px auto 0;
        padding: 40px;
        border-radius: 55px;

        >div {
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;
            gap: 20px;
            align-items: center;
        }
    }
}

footer .section-social-bar {
    font-weight: var(--weight-secondary);
    text-align: center;

    ul {
        display: flex;
        gap: 25px;

        a {
            font-size: 28px;
            color: #212529
        }
    }
}

footer .section-copyright-bar {
    font-weight: var(--weight-secondary);
    text-align: center;
    display: flex;

    .default-content-wrapper {
        display: flex;
        align-items: center;

        p {
            font-weight: var(--weight-primary);
            font-size: 18px;
        }
    }
}

footer .block>div:first-child .button {
    position: fixed;
    bottom: 20px;
    left: calc(50% - 155px);
    z-index: 99;
}

footer .overlay {
    display: none;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    border: 1px solid #DEE2E6;
    max-width: 600px;
    width: 90%;
    min-height: 100px;
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    text-align: center;
    animation: fadeIn;
    animation-duration: 0.6s;
}


footer .btn-android {
    text-indent: -9999px;
    display: inline-block;
    width: 120px;
    height: 40px;
    position: relative;
    background: url("/assets/store-play.png") no-repeat center center;
    background-size: contain;
    color: transparent;
    border: none;
    cursor: pointer;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
}

footer .btn-ios {
    text-indent: -9999px;
    display: inline-block;
    width: 120px;
    height: 40px;
    position: relative;
    background: url("/assets/store-ios.png") no-repeat center center;
    background-size: contain;
    color: transparent;
    border: none;
    cursor: pointer;
    margin: auto;
}

footer .overlay .button.primary {
    padding: 8px 30px;
    border-radius: 4px;
    display: inline-block;
    background-color: #003491;
    color: #fff;
    font-size: 16px;
    font-weight: var(--weight-secondary);
}

footer .block>div:first-child .button.primary {
    padding: 16px 50px;
    border-radius: 8px;
    font-size: 24px;
}


@media (width >=768px) {
    footer {
        .footer {
            padding: 60px;

            >div {
                display: flex;
                flex-direction: row-reverse;
            }
        }
    }

    footer .overlay {
        text-align: left;
    }

    footer .btn-android {
        float: right;
        margin-left: 15px;
    }

    footer .btn-ios {
        float: right;
        margin-left: 15px;
    }
}