.faqs-wrapper {
  width: 100%;
  padding: 60px;
  border-radius: 0 0 16px 16px;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

.section.faqs-container {
  display: grid !important;
  grid-template-columns: minmax(0, 2fr) minmax(0, 1.4fr);
  gap: 0 20px;
  align-items: stretch;
}

.section.faqs-container .default-content-wrapper {
  grid-column: 1;
  margin: 0;
  background-color: #f2f2f2;
  border-radius: 16px;
}

.faqs.block .faq-header h2 {
  font-size: 40px;
}

.section.faqs-container .default-content-wrapper h2,
.section.faqs-container .default-content-wrapper p {
  margin: 0;
  padding: 0 0 0 25px;
}

.section.faqs-container .default-content-wrapper p {
  margin-top: 4px;
  font-size: 18px;
  color: #495057;
}

.section.faqs-container .faqs-wrapper {
  grid-column: 1;
  margin: 0;
  border-radius: 55px;
}

.section.faqs-container .default-background-wrapper {
  grid-column: 2;
  margin: 0;
}

.section.faqs-container .default-background-wrapper picture {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 55px;
  overflow: hidden;
  aspect-ratio: 4 / 5;
  min-height: 200px;
  background-color: #e9eef2;
}

.section.faqs-container .default-background-wrapper img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 28px;
}

.faqs.block {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0;
  padding: 0;
}

.faqs.block .faq-header {
  margin-bottom: 30px;
}

.faqs.block .faq-header p {
  font-size: 18px;
  font-weight: 500;
}

.faqs.block .faq-item {
  display: grid;
  grid-template-columns: 56px 1fr;
  grid-template-rows: auto auto;
  gap: 12px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e5eaf0;
  align-items: start;
}

.faqs.block .faq-item:last-child {
  border-bottom: none;
}

.faqs.block .faq-item-icon {
  grid-column: 1;
  grid-row: 1 / span 2;

  --faq-icon: url('data:image/svg+xml;utf8,<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="1" y="1" width="46" height="46" rx="9" stroke="white" stroke-width="2"/><path d="M24 25C25.6569 25 27 23.6569 27 22C27 20.3431 25.6569 19 24 19C22.3431 19 21 20.3431 21 22C21 23.6569 22.3431 25 24 25Z" stroke="%23004ECC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M24 34C28 30 32 26.4183 32 22C32 17.5817 28.4183 14 24 14C19.5817 14 16 17.5817 16 22C16 26.4183 20 30 24 34Z" stroke="%23004ECC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');

  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0;
}

.faqs.block .faq-item-icon i::before {
  content: "";
  display: block;
  width: 48px;
  height: 48px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: var(--faq-icon);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  pointer-events: none;
}

.faqs.block .faq-item-icon .i-icon-pin {
  --faq-icon: url('data:image/svg+xml;utf8,<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="1" y="1" width="46" height="46" rx="9" stroke="white" stroke-width="2"/><path d="M24 25C25.6569 25 27 23.6569 27 22C27 20.3431 25.6569 19 24 19C22.3431 19 21 20.3431 21 22C21 23.6569 22.3431 25 24 25Z" stroke="%23004ECC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M24 34C28 30 32 26.4183 32 22C32 17.5817 28.4183 14 24 14C19.5817 14 16 17.5817 16 22C16 26.4183 20 30 24 34Z" stroke="%23004ECC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}

.faqs.block .faq-item-icon .i-icon-discount {
  --faq-icon: url('data:image/svg+xml;utf8,<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="1" y="1" width="46" height="46" rx="9" stroke="white" stroke-width="2"/><path d="M21 21H21.01M27 27H27.01M28 20L20 28M19.3338 15.8187C20.1376 15.7545 20.9007 15.4385 21.5145 14.9154C22.9467 13.6949 25.0533 13.6949 26.4855 14.9154C27.0993 15.4385 27.8624 15.7545 28.6662 15.8187C30.5421 15.9684 32.0316 17.4579 32.1813 19.3338C32.2455 20.1376 32.5615 20.9007 33.0846 21.5145C34.3051 22.9467 34.3051 25.0533 33.0846 26.4855C32.5615 27.0993 32.2455 27.8624 32.1813 28.6662C32.0316 30.5421 30.5421 32.0316 28.6662 32.1813C27.8624 32.2455 27.0993 32.5615 26.4855 33.0846C25.0533 34.3051 22.9467 34.3051 21.5145 33.0846C20.9007 32.5615 20.1376 32.2455 19.3338 32.1813C17.4579 32.0316 15.9684 30.5421 15.8187 28.6662C15.7545 27.8624 15.4385 27.0993 14.9154 26.4855C13.6949 25.0533 13.6949 22.9467 14.9154 21.5145C15.4385 20.9007 15.7545 20.1376 15.8187 19.3338C15.9684 17.4579 17.4579 15.9684 19.3338 15.8187ZM21.5 21C21.5 21.2761 21.2761 21.5 21 21.5C20.7239 21.5 20.5 21.2761 20.5 21C20.5 20.7239 20.7239 20.5 21 20.5C21.2761 20.5 21.5 20.7239 21.5 21ZM27.5 27C27.5 27.2761 27.2761 27.5 27 27.5C26.7239 27.5 26.5 27.2761 26.5 27C26.5 26.7239 26.7239 26.5 27 26.5C27.2761 26.5 27.5 26.7239 27.5 27Z" stroke="%23004ECC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}

.faqs.block .faq-item-icon .i-icon-check {
  --faq-icon: url('data:image/svg+xml;utf8,<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="1" y="1" width="46" height="46" rx="9" stroke="white" stroke-width="2"/><path d="M34 23.0857V24.0057C33.9988 26.1621 33.3005 28.2604 32.0093 29.9875C30.7182 31.7147 28.9033 32.9782 26.8354 33.5896C24.7674 34.201 22.5573 34.1276 20.5345 33.3803C18.5117 32.633 16.7847 31.2518 15.611 29.4428C14.4373 27.6338 13.8798 25.4938 14.0217 23.342C14.1636 21.1903 14.9972 19.1421 16.3983 17.5028C17.7994 15.8635 19.6928 14.7211 21.7962 14.2459C23.8996 13.7706 26.1003 13.9881 28.07 14.8657M34 16L24 26.01L21 23.01" stroke="%23004ECC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}

.faqs.block .faq-item-icon .i-icon-calendar-check {
  --faq-icon: url('data:image/svg+xml;utf8,<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="1" y="1" width="46" height="46" rx="9" stroke="white" stroke-width="2"/><path d="M33 22H15M28 14V18M20 14V18M21 28L23 30L27.5 25.5M19.8 34H28.2C29.8802 34 30.7202 34 31.362 33.673C31.9265 33.3854 32.3854 32.9265 32.673 32.362C33 31.7202 33 30.8802 33 29.2V20.8C33 19.1198 33 18.2798 32.673 17.638C32.3854 17.0735 31.9265 16.6146 31.362 16.327C30.7202 16 29.8802 16 28.2 16H19.8C18.1198 16 17.2798 16 16.638 16.327C16.0735 16.6146 15.6146 17.0735 15.327 17.638C15 18.2798 15 19.1198 15 20.8V29.2C15 30.8802 15 31.7202 15.327 32.362C15.6146 32.9265 16.0735 33.3854 16.638 33.673C17.2798 34 18.1198 34 19.8 34Z" stroke="%23004ECC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}

.faqs.block .faq-item-icon .i-icon-calendar-heart {
  --faq-icon: url('data:image/svg+xml;utf8,<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="1" y="1" width="46" height="46" rx="9" stroke="white" stroke-width="2"/><path d="M33 20H15M28 14V17M20 14V17M19.8 34H28.2C29.8802 34 30.7202 34 31.362 33.673C31.9265 33.3854 32.3854 32.9265 32.673 32.362C33 31.7202 33 30.8802 33 29.2V20.8C33 19.1198 33 18.2798 32.673 17.638C32.3854 17.0735 31.9265 16.6146 31.362 16.327C30.7202 16 29.8802 16 28.2 16H19.8C18.1198 16 17.2798 16 16.638 16.327C16.0735 16.6146 15.6146 17.0735 15.327 17.638C15 18.2798 15 19.1198 15 20.8V29.2C15 30.8802 15 31.7202 15.327 32.362C15.6146 32.9265 16.0735 33.3854 16.638 33.673C17.2798 34 18.1198 34 19.8 34ZM23.9973 24.3306C23.1975 23.4216 21.8639 23.1771 20.8619 24.0094C19.8599 24.8418 19.7188 26.2335 20.5057 27.2179C21.077 27.9327 22.6593 29.3397 23.4833 30.0569C23.662 30.2124 23.7513 30.2902 23.856 30.321C23.9466 30.3477 24.0479 30.3477 24.1386 30.321C24.2432 30.2902 24.3325 30.2124 24.5112 30.0569C25.3353 29.3397 26.9175 27.9327 27.4888 27.2179C28.2757 26.2335 28.1519 24.8331 27.1326 24.0094C26.1134 23.1858 24.797 23.4216 23.9973 24.3306Z" stroke="%23004ECC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}

.faqs.block .faq-item-icon .i-icon-clipboard {
  --faq-icon: url('data:image/svg+xml;utf8,<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="1" y="1" width="46" height="46" rx="9" stroke="white" stroke-width="2"/><path d="M28 16C28.93 16 29.395 16 29.7765 16.1022C30.8117 16.3796 31.6204 17.1883 31.8978 18.2235C32 18.605 32 19.07 32 20V29.2C32 30.8802 32 31.7202 31.673 32.362C31.3854 32.9265 30.9265 33.3854 30.362 33.673C29.7202 34 28.8802 34 27.2 34H20.8C19.1198 34 18.2798 34 17.638 33.673C17.0735 33.3854 16.6146 32.9265 16.327 32.362C16 31.7202 16 30.8802 16 29.2V20C16 19.07 16 18.605 16.1022 18.2235C16.3796 17.1883 17.1883 16.3796 18.2235 16.1022C18.605 16 19.07 16 20 16M21.5 24L26.5 29M26.5 24L21.5 29M21.6 18H26.4C26.9601 18 27.2401 18 27.454 17.891C27.6422 17.7951 27.7951 17.6422 27.891 17.454C28 17.2401 28 16.9601 28 16.4V15.6C28 15.0399 28 14.7599 27.891 14.546C27.7951 14.3578 27.6422 14.2049 27.454 14.109C27.2401 14 26.9601 14 26.4 14H21.6C21.0399 14 20.7599 14 20.546 14.109C20.3578 14.2049 20.2049 14.3578 20.109 14.546C20 14.7599 20 15.0399 20 15.6V16.4C20 16.9601 20 17.2401 20.109 17.454C20.2049 17.6422 20.3578 17.7951 20.546 17.891C20.7599 18 21.0399 18 21.6 18Z" stroke="%23004ECC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}

.faqs.block .faq-item-question {
  grid-column: 2;
  grid-row: 1;
}

.faqs.block .faq-item-question p {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
  color: #495057;
}

.faqs.block .faq-item-answer {
  grid-column: 2;
  grid-row: 2;
}

.faqs.block .faq-item-answer p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: #495057;
  line-height: 1.5;
}

@media (width <=768px) {
  .section.faqs-container {
    grid-template-columns: 1fr;
    row-gap: 16px;
  }

  .section.faqs-container .default-background-wrapper {
    grid-column: 1;
    order: 1;
  }

  .section.faqs-container .default-content-wrapper {
    grid-column: 1;
    order: 2;
  }

  .section.faqs-container .faqs-wrapper {
    grid-column: 1;
    order: 3;
  }

  .faqs.block .faq-item {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 8px;
  }

  .faqs.block .faq-item-icon {
    grid-column: 1;
    grid-row: 1;
    justify-content: center;
    padding-left: 0;
    margin: 0 auto;
  }

  .faqs.block .faq-item-question {
    grid-column: 1;
    grid-row: 2;
    font-size: 22px;
    text-align: center;

  }

  .faqs.block .faq-item-answer {
    grid-column: 1;
    grid-row: 3;
    font-size: 18px;
    text-align: center;

  }

  .faqs.block .faq-item-icon i::before {
    width: 50px;
    height: 50px;
    background-size: contain;
  }

}